* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
  
  }
  
::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: #fcfcfc;
    border-radius: 8px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
}

.wrapper {
    border: 2px solid rgb(48, 48, 48);
    margin-top: 10vh;
    border-radius: 8px;
    margin-inline: auto;
    max-width: 800px;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #b0d5ff;
    padding: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    max-width: 500px;
    margin-inline: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    padding: 15px;
    border-radius: 8px;
    margin-top: 24px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    transition: all .3s ease;
    cursor: default;
}
.post div:nth-child(1) {
    align-self: flex-end;
}

.post:hover {
    border: 1px solid #777777;
    transform: scale(1.008);
}

.post__img {
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin: 10px 0 10px;
}